body{
  margin: 0;
  height: 100vh;

  background-image: url("bg1.jpg");
  background-size: cover;       /* ให้เต็มจอ */
  background-position: center;  /* จัดกลาง */
  background-repeat: no-repeat; /* ไม่ให้ซ้ำ */
}
